# 이진수

In [7]:
T = int(input()) + 1
hexaTable = ["0000", "0001", "0010", "0011",
             "0100", "0101", "0110", "0111",
             "1000", "1001", "1010", "1011",
             "1100", "1101", "1110", "1111"]
for t in range(1, T):
    leng, data = input().split()
    leng = int(leng)
    ans = ''
    for n in data:
        if '0' <= n <= '9':
            n = ord(n) - ord('0')
        else:
            n = ord(n) - ord('A') + 10
        ans += hexaTable[n]
    print(f'#{t} {ans}')

3
4 47FE
#1 0100011111111110
5 79E12
#2 01111001111000010010
8 41DA16CD
#3 01000001110110100001011011001101

# 이진수 2